h1 {
  text-align: center;
}


p {

}

h3 {
  display: block;
}  

h4 {
  text-align: center;
  padding: 0px;
  border: 0px;
  margin: 0px;
}



body {
  border: 5px solid #000;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
  background-color: DodgerBlue;
}


.top {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.experience {
  display: inline; 
  font-size: 10px;
  color: red;
}

